new<!DOCTYPE html>
<html>
	<head>
		<title>New Form</title>
	</head>

	<body>
		<form action="/" method="post">
			<input type="text" name="user[name]" placeholder="name"><br>
			<input type="text" name="user[colleg]e" placeholder="College Name"><br>
			<input type="text" name="user[mobile]" placeholder="Mobile number"><br>
			<input type="text" name="user[email]" placeholder="email id"><br>
			<input type="submit" value="submit">
		</form>
	</body>
</html>

